/* ASSETS */
/* button primary */
.button-primary {
    background-color: #00a9c0ff;
    border-radius: 4px;
    color: #fff;
}

/* LOGIN */
.login .card {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.login .login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LANDING PAGE */
h3 span {
    color: #00a9c0ff;
}
/* navbar */
.navbar input.search {
    width: 40%;
}

/* about */
.about,
.footer {
    background-color: #eeeeee;
}

/* product */
.product .card {
    border: none;
}

.product .card img {
    width: 324px;
    height: 324px;
    border-radius: 4px;
    object-fit: cover;
}

.product .card .card-text {
    margin: 0;
}

/* services */
.service .services img {
    width: 174px;
    height: 133px;
}

/* PRODUCTS */
/* product */
.products .card {
    border: none;
}

.products .card img {
    width: 324px;
    height: 324px;
    border-radius: 4px;
    object-fit: cover;
}

.product .card .card-text {
    margin: 0;
}

/* CART */
.cart .card {
    border: none;
}

.cart .product {
    border-bottom: 2px solid #eeeeee;
}

/* ALAMAT */
.alamat .box-alamat {
    padding: 20px;
    border: 2px solid #00a9c0ff;
}
